/* div classes */
.header {
    font-size: xx-large;
    color: deepskyblue;
    text-align: center;
}

.task_list {

}
/* form elements */
input[type=button] {
    font-weight: bold;
    background: red;
    padding: 5px 15px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
}

button[type=submit] {
    font-weight: bold;
    background: springgreen;
    padding: 5px 15px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float: left;
    height: 40px;
}

input[type=text] {
    float: left;
    height: 32px;
    padding-left: 250px;
    padding-right: 50px;
    border: 2px solid;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-right: 25px;
}
/* headers */
.h1 {
}

/* lists */
ol, li {
    margin-top: 75px;
    list-style-type: none;
    line-height: 1.5;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* icons */
.book {
}